.container{
    background-color: white;
    max-width : 600px;
    height: 100%;
    margin: 0 auto;

    box-shadow : rgba(100, 100,100,0.2) 0px 0px 29px 0px;
    padding: 0px 15px;
}

.header {
    height : 60px;

    font-weight: bold;
    font-size : 18px;
    line-height: 60px;
}

.header > a {
    text-decoration: none;
    color : black;
}

.main {
    padding-top: 10px;
}

.footer {
    padding: 100px 0px;
    color : gray;
}

